*.class
*.log
*.iml
*.ipr
*.iws

.DS_Store
.gradle
.bundle
.vagrant
.idea
.project
.classpath
.settings

/build
/out
node_modules
dist
/logs
/src/generated
/src/main/resources/info.properties
/**/tmp/**
/classes
target/**
unit-testing-jpa/**
